{% extends 'account/_auth_layout.html' %}
{% load i18n %}
{% block title %}{% trans "Account inactive" %}{% endblock %}
{% block heading %}{% trans "Account pending approval" %}{% endblock %}
{% block content %}
  <div class="cape-auth__alert cape-auth__alert--info">
    {% trans "Your account is not yet active. An administrator must approve it before you can sign in." %}
  </div>
{% endblock %}
{% block footer %}
  <div class="cape-auth__card-footer">
    <a href="{% url 'account_login' %}">← {% trans "Back to sign in" %}</a>
  </div>
{% endblock %}
