{% extends 'account/_auth_layout.html' %}
{% load i18n %}
{% block title %}{% trans "Password changed" %}{% endblock %}
{% block heading %}{% trans "Password changed" %}{% endblock %}
{% block content %}
  <div class="cape-auth__alert cape-auth__alert--success">
    {% trans "Your password has been updated. You can sign in with your new credentials." %}
  </div>
{% endblock %}
{% block footer %}
  <div class="cape-auth__card-footer">
    <a href="{% url 'account_login' %}">→ {% trans "Sign in" %}</a>
  </div>
{% endblock %}
