{% extends 'account/_auth_layout.html' %}
{% load i18n %}
{% block title %}{% trans "Reset link sent" %}{% endblock %}
{% block heading %}{% trans "Check your inbox" %}{% endblock %}
{% block content %}
  <div class="cape-auth__alert cape-auth__alert--success">
    {% blocktrans %}We've sent you an email with a password-reset link. Please check your inbox; if you don't see it within a few minutes, check spam or contact your administrator.{% endblocktrans %}
  </div>
{% endblock %}
{% block footer %}
  <div class="cape-auth__card-footer">
    <a href="{% url 'account_login' %}">← {% trans "Back to sign in" %}</a>
  </div>
{% endblock %}
