{% extends 'account/_auth_layout.html' %}
{% load i18n %}
{% block title %}{% trans "Registration closed" %}{% endblock %}
{% block heading %}{% trans "Registration is closed" %}{% endblock %}
{% block content %}
  <div class="cape-auth__alert cape-auth__alert--info">
    {% trans "Sign-ups are currently disabled on this CAPE instance. Contact your administrator if you need an account." %}
  </div>
{% endblock %}
{% block footer %}
  <div class="cape-auth__card-footer">
    <a href="{% url 'account_login' %}">← {% trans "Back to sign in" %}</a>
  </div>
{% endblock %}
