{% extends 'account/_auth_layout.html' %}
{% load i18n %}
{% block title %}{% trans "Verify your email" %}{% endblock %}
{% block heading %}{% trans "Verify your email" %}{% endblock %}
{% block content %}
  <div class="cape-auth__alert cape-auth__alert--info">
    {% blocktrans %}We've sent you a verification email. Click the link in that message to finish creating your account. If it doesn't show up within a few minutes, check spam or contact your administrator.{% endblocktrans %}
  </div>
{% endblock %}
{% block footer %}
  <div class="cape-auth__card-footer">
    <a href="{% url 'account_login' %}">← {% trans "Back to sign in" %}</a>
  </div>
{% endblock %}
